In [ ]:
import pandas as pd

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving Mall_Customers.csv to Mall_Customers.csv

In [ ]:
import io

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['Mall_Customers.csv']))

In [ ]:
print(df)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
pd.option_context('display.max_rows', None, 'display.max_columns', None);
print(df)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
import numpy as np

In [ ]:
df.shape

(200, 5)

In [ ]:
df.info

<bound method DataFrame.info of      CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [ ]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [19]:
df.drop(["CustomerID"], axis=1,inplace=True)

In [20]:
df

      Genre  Age  Annual Income (k$)  Spending Score (1-100)
0      Male   19                  15                      39
1      Male   21                  15                      81
2    Female   20                  16                       6
3    Female   23                  16                      77
4    Female   31                  17                      40
..      ...  ...                 ...                     ...
195  Female   35                 120                      79
196  Female   45                 126                      28
197    Male   32                 126                      74
198    Male   32                 137                      18
199    Male   30                 137                      83

[200 rows x 4 columns]

In [22]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age                       38.85
Annual Income (k$)        60.56
Spending Score (1-100)    50.20
dtype: float64

In [24]:
print(df.loc[:,'Age'].mean())

38.85

In [25]:
print(df.loc[:,'Annual Income (k$)'].mean())

60.56

In [26]:
df.mean(axis = 1)[0:5]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0    24.333333
1    39.000000
2    14.000000
3    38.666667
4    29.333333
dtype: float64

In [27]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age                       36.0
Annual Income (k$)        61.5
Spending Score (1-100)    50.0
dtype: float64

In [28]:
print(df.loc[:,'Age'].median())

36.0

In [29]:
print(df.loc[:,'Annual Income (k$)'].median())

61.5

In [30]:
df[["Age", "Annual Income (k$)"]].median()

Age                   36.0
Annual Income (k$)    61.5
dtype: float64

In [31]:
df.mode()

    Genre   Age  Annual Income (k$)  Spending Score (1-100)
0  Female  32.0                  54                    42.0
1     NaN   NaN                  78                     NaN

In [33]:
df.mode(axis = 0)

    Genre   Age  Annual Income (k$)  Spending Score (1-100)
0  Female  32.0                  54                    42.0
1     NaN   NaN                  78                     NaN

In [34]:
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age                       13.969007
Annual Income (k$)        26.264721
Spending Score (1-100)    25.823522
dtype: float64

In [36]:
print(df.loc[:,'Age'].std())
print(df.loc[:,'Annual Income (k$)'].std())

13.969007331558883
26.264721165271254

In [37]:
df.std(axis = 1)[0:5]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0    12.858201
1    36.496575
2     7.211103
3    33.381632
4    11.590226
dtype: float64

In [38]:
df.var()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age                       195.133166
Annual Income (k$)        689.835578
Spending Score (1-100)    666.854271
dtype: float64

In [39]:
from scipy.stats import iqr

In [44]:
iqr(df.Age)

20.25

In [45]:
print(df.skew())

Age                       0.485569
Annual Income (k$)        0.321843
Spending Score (1-100)   -0.047220
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [46]:
df.describe()

              Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000          200.000000              200.000000
mean    38.850000           60.560000               50.200000
std     13.969007           26.264721               25.823522
min     18.000000           15.000000                1.000000
25%     28.750000           41.500000               34.750000
50%     36.000000           61.500000               50.000000
75%     49.000000           78.000000               73.000000
max     70.000000          137.000000               99.000000

In [47]:
df.describe(include='all')

         Genre         Age  Annual Income (k$)  Spending Score (1-100)
count      200  200.000000          200.000000              200.000000
unique       2         NaN                 NaN                     NaN
top     Female         NaN                 NaN                     NaN
freq       112         NaN                 NaN                     NaN
mean       NaN   38.850000           60.560000               50.200000
std        NaN   13.969007           26.264721               25.823522
min        NaN   18.000000           15.000000                1.000000
25%        NaN   28.750000           41.500000               34.750000
50%        NaN   36.000000           61.500000               50.000000
75%        NaN   49.000000           78.000000               73.000000
max        NaN   70.000000          137.000000               99.000000

In [53]:
df2=df.groupby(['Genre', 'Age'])
df2.first()

            Annual Income (k$)  Spending Score (1-100)
Genre  Age
Female 18                   65                      48
       19                   63                      54
       20                   16                       6
       21                   30                      73
       22                   17                      76
...                        ...                     ...
Male   66                   63                      48
       67                   19                      14
       68                   63                      43
       69                   44                      46
       70                   46                      56

[87 rows x 2 columns]

In [54]:
df3=df.groupby(['Age', 'Annual Income (k$)']).mean()
df3

                        Spending Score (1-100)
Age Annual Income (k$)
18  33                                    92.0
    48                                    59.0
    59                                    41.0
    65                                    48.0
19  15                                    39.0
...                                        ...
68  59                                    55.0
    63                                    43.0
69  44                                    46.0
70  46                                    56.0
    49                                    55.0

[192 rows x 1 columns]

In [56]:
df4=df.groupby(['Age', 'Annual Income (k$)']).median()
df4

                        Spending Score (1-100)
Age Annual Income (k$)
18  33                                    92.0
    48                                    59.0
    59                                    41.0
    65                                    48.0
19  15                                    39.0
...                                        ...
68  59                                    55.0
    63                                    43.0
69  44                                    46.0
70  46                                    56.0
    49                                    55.0

[192 rows x 1 columns]

In [57]:
df.groupby(['Age','Annual Income (k$)']).agg(lambda x:x.value_counts().index[0])

                         Genre  Spending Score (1-100)
Age Annual Income (k$)
18  33                    Male                      92
    48                    Male                      59
    59                    Male                      41
    65                  Female                      48
19  15                    Male                      39
...                        ...                     ...
68  59                  Female                      55
    63                    Male                      43
69  44                    Male                      46
70  46                    Male                      56
    49                    Male                      55

[192 rows x 2 columns]

In [58]:
df5=df.groupby(['Age', 'Annual Income (k$)'])
df5.first()

                         Genre  Spending Score (1-100)
Age Annual Income (k$)
18  33                    Male                      92
    48                    Male                      59
    59                    Male                      41
    65                  Female                      48
19  15                    Male                      39
...                        ...                     ...
68  59                  Female                      55
    63                    Male                      43
69  44                    Male                      46
70  46                    Male                      56
    49                    Male                      55

[192 rows x 2 columns]